@import '~antd/dist/antd.css';
html, body {
    background: #F7F7F7;
}
.main {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    margin: 0 auto;
}

@media(orientation: landscape) {
    .main{
        width:30vw;
    }
}