.ant-modal-body {
  padding: 24px 24px 12px 24px !important;
}
.modal-div {
  display: flex;
  border-top: 1px solid #bbb;
  /* justify-content: space-between */

}

.modal-btn {
  flex: 1;
  border: none !important;
  border-radius: 0 1important; 
}

.modal-btn:first-child {
  flex: 1;
  border: none !important;
  border-radius: 0 !important; 
  border-right: 1px solid #bbb !important
}