.container {
    position: fixed;
    bottom: 0;
    height: 56px;
    width: 100%;
    border-top: 1px solid #bbb;
    font-size: 20px;
    color: #ff8a80;
    background-color: #E7E7E7;
  }

.bottomNav {
  background-color: #E7E7E7;
}