.container {
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 56px;
    width: 100%;
    border-top: 1px solid #bbb;
    font-size: 20px;
    color: #ff8a80;
    background-color: #fff;
  }