.reaction-counter {
    display: flex;
    padding-left: 1vw;
    align-items: center;
}

.counter-img:last-of-type {
    margin-left: 1vw;
}

.counter-txt {
    font-size: 0.8em;
    margin: 0;
}

.reaction-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 2vh;
    border-top: 1px solid #ABABAB;
    align-items: center
}

.btn-container {
    
    z-index: 6
}

