.mainContainer {
    /* display: flex; */
    font-size: 20;
}

.btn-floating {
    position: fixed;
    right: 10vw;
    bottom: 10vh;
}

@media(orientation: landscape) {
    .btn-floating {
        right: 38vw;
    }
}