.ant-tabs {
  width: 90%
}

.ant-tabs-tab:hover {
  color: #B9F9F9 !important
}

 .ant-tabs-tab-active {
  color: #B9F9F9 !important
}

.ant-tabs-ink-bar {
  background-color: #B9F9F9 !important
}

/*
.linkStyle {
    text-decoration: "none"
  } */